# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env
backend/.env

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# Docker
# =========================
postgres_data/
*.log

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
